02_Source_Codes/01_MonitoringCPUTempAtLaptop.txt
[{"id":"45eb8a18.ef9834","type":"inject","z":"e9e1b1d4.50c19","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":240,"y":220,"wires":[["70d396fc.3d0ed8"]]},{"id":"3ad77d4d.c64f82","type":"debug","z":"e9e1b1d4.50c19","name":"","active":true,"console":"false","complete":"false","x":696.9999847412109,"y":245.9999942779541,"wires":[]},{"id":"70d396fc.3d0ed8","type":"exec","z":"e9e1b1d4.50c19","command":"shutdown -h now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo shutdown -h now","x":440,"y":220,"wires":[["3ad77d4d.c64f82"],[],[]]},{"id":"3f42d808.6da168","type":"ui_button","z":"e9e1b1d4.50c19","name":"","group":"cd98f00d.31df8","order":4,"width":0,"height":0,"passthru":false,"label":"Turn Off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":212.17069625854492,"y":177.60242795944214,"wires":[["70d396fc.3d0ed8"]]},{"id":"97dddb62.4525a8","type":"inject","z":"e9e1b1d4.50c19","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":243.49795532226562,"y":403.94610595703125,"wires":[["5f21be8a.4fe77"]]},{"id":"bad8f2d7.05fd5","type":"debug","z":"e9e1b1d4.50c19","name":"","active":true,"console":"false","complete":"false","x":614.7837524414062,"y":398.51759338378906,"wires":[]},{"id":"5f21be8a.4fe77","type":"exec","z":"e9e1b1d4.50c19","command":"reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo reboot","x":413.4979553222656,"y":403.94610595703125,"wires":[["bad8f2d7.05fd5"],[],[]]},{"id":"57d7fba.0fb5b04","type":"ui_button","z":"e9e1b1d4.50c19","name":"","group":"cd98f00d.31df8","order":5,"width":0,"height":0,"passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":215.66865158081055,"y":369.5485339164734,"wires":[["5f21be8a.4fe77"]]},{"id":"20c2ed08.524202","type":"comment","z":"e9e1b1d4.50c19","name":"System will turn off","info":"","x":189.83000946044922,"y":87.5671615600586,"wires":[]},{"id":"ff0735c9.5bb578","type":"comment","z":"e9e1b1d4.50c19","name":"System will reboot","info":"","x":191.07290649414062,"y":280.28662109375,"wires":[]},{"id":"fa2aa67e.987de8","type":"comment","z":"e9e1b1d4.50c19","name":"Ping","info":"","x":147.20680018833718,"y":526.0672302246094,"wires":[]},{"id":"f17746f4.a6c188","type":"debug","z":"e9e1b1d4.50c19","name":"","active":true,"console":"false","complete":"false","x":447.99505615234375,"y":577.4225616455078,"wires":[]},{"id":"40093c82.8d9264","type":"ui_gauge","z":"e9e1b1d4.50c19","name":"","group":"75b6cbd3.1a4e34","order":1,"width":0,"height":0,"gtype":"gage","title":"Ping","label":"ms","format":"{{value}}","min":0,"max":"0.1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":431.9950942993164,"y":664.6579179763794,"wires":[]},{"id":"2c14fa3.a911506","type":"inject","z":"e9e1b1d4.50c19","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":130,"y":952,"wires":[["14588d59.fc90a3","8cd2ce37.061ec","8ba70852.b656c8"]]},{"id":"14588d59.fc90a3","type":"exec","z":"e9e1b1d4.50c19","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"measure_temp","useSpawn":"true","timer":"","oldrc":false,"name":"getCPUtemp","x":322.4602584838867,"y":951.4602583476476,"wires":[["9d7ddaa2.54aa88","56501c77.4d4ec4"],[],[]]},{"id":"9d7ddaa2.54aa88","type":"function","z":"e9e1b1d4.50c19","name":"CPU Temp Function","func":"context.global.cputemp = 0.1 * parseFloat(msg.payload.replace(\"\",\"\").replace(\"00\",\"\"));\nvar temp = 0.1 * parseFloat(msg.payload.replace(\"\",\"\").replace(\"00\",\"\"));\nmsg.payload = temp.toString().substr(0, 4);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":532.0475616455078,"y":937.7142866679601,"wires":[["7a5bf50.1aee60c","f45083f0.a4ce3","9a4cf262.ac2e1","89260457.0793f8","fca39bb.1663568","a32405f0.0379a8"]]},{"id":"9ce570a.dc4fd9","type":"comment","z":"e9e1b1d4.50c19","name":"Measuring CPU's Temperature For Laptop","info":"","x":269.85717010498047,"y":823.6192177363805,"wires":[]},{"id":"7a5bf50.1aee60c","type":"debug","z":"e9e1b1d4.50c19","name":"","active":true,"console":"false","complete":"false","x":745.5101356506348,"y":937.3251442909241,"wires":[]},{"id":"f45083f0.a4ce3","type":"ui_gauge","z":"e9e1b1d4.50c19","name":"","group":"bc7eee22.42656","order":1,"width":0,"height":0,"gtype":"gage","title":"My Laptop CPU","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":755.6548805236816,"y":983.268138885498,"wires":[]},{"id":"9a4cf262.ac2e1","type":"ui_chart","z":"e9e1b1d4.50c19","name":"","group":"bc7eee22.42656","order":2,"width":"0","height":"0","label":"My Laptop CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":798.6869411468506,"y":1026.9794960021973,"wires":[[],[]]},{"id":"a32405f0.0379a8","type":"file","z":"e9e1b1d4.50c19","name":"","filename":"/home/ubuntu/CPU_Temp.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":800,"y":900,"wires":[]},{"id":"56501c77.4d4ec4","type":"debug","z":"e9e1b1d4.50c19","name":"","active":false,"console":"false","complete":"false","x":514,"y":977,"wires":[]},{"id":"30e7acff.d526a4","type":"mqtt out","z":"e9e1b1d4.50c19","name":"MQTT - laptopPing","topic":"laptopPing","qos":"2","retain":"","broker":"d60de4d6.fcd558","x":475.2763843536377,"y":614.493390083313,"wires":[]},{"id":"89260457.0793f8","type":"mqtt out","z":"e9e1b1d4.50c19","name":"MQTT - laptopcputemp","topic":"laptopcputemp","qos":"2","retain":"","broker":"d60de4d6.fcd558","x":790.289623260498,"y":1070.483741760254,"wires":[]},{"id":"50754ae.9d611b4","type":"mqtt in","z":"e9e1b1d4.50c19","name":"MQTT - turnoffLaptop","topic":"turnoffLaptop","qos":"2","broker":"d60de4d6.fcd558","x":252.28619766235352,"y":125.83224678039551,"wires":[["70d396fc.3d0ed8"]]},{"id":"2c7de2ac.239efe","type":"mqtt in","z":"e9e1b1d4.50c19","name":"MQTT - rebootLaptop","topic":"rebootLaptop","qos":"2","broker":"d60de4d6.fcd558","x":260.2895050048828,"y":321.82896614074707,"wires":[["5f21be8a.4fe77"]]},{"id":"bca487ab.ddf738","type":"ping","z":"e9e1b1d4.50c19","name":"","host":"192.168.0.40","timer":"20","x":210,"y":577,"wires":[["f17746f4.a6c188","30e7acff.d526a4","40093c82.8d9264"]]},{"id":"d10d10c2.32c2b","type":"inject","z":"e9e1b1d4.50c19","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, TEMP INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1001,"y":1256,"wires":[["774e0bf8.4d6fd4"]]},{"id":"74e8b262.4ee13c","type":"function","z":"e9e1b1d4.50c19","name":"Insert query","func":"//var time = msg.payload.substr(0, 18);\n//var temp01 = msg.payload.substr(17, 5);\n//var temp = parseFloat(temp01);\n\nvar time = msg.payload.data.time;\nvar local = msg.payload.data.local;\nvar temp = msg.payload.data.temp;\n\n//var temp = msg.payload;\n//var largeBool = (temp > 30)?1:0;\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + time + \", \" + local + \", \" + temp + \")\"\n};\n\nreturn newMsg;\n\n\n/*\nvar randomNum = Math.round(Math.random()*100);\nvar largeBool = (randomNum > 50)?1:0;\nvar newMsg = {\n \"topic\": \"INSERT INTO RANDOMNUM VALUES ( \" + msg.payload + \", \" + randomNum + \", \" + largeBool + \")\"\n}\n\nreturn newMsg;\n*/","outputs":1,"noerr":0,"x":989.3621673583984,"y":1298.7500791549683,"wires":[["774e0bf8.4d6fd4"]]},{"id":"f09dab9d.22d858","type":"inject","z":"e9e1b1d4.50c19","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1039.749942779541,"y":1428.0000343322754,"wires":[["daedf204.d9f54"]]},{"id":"c80fb9b5.0b1398","type":"inject","z":"e9e1b1d4.50c19","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1034.9692611694336,"y":1384.7500801086426,"wires":[["774e0bf8.4d6fd4"]]},{"id":"7d0cf7c7.cf3c38","type":"inject","z":"e9e1b1d4.50c19","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1035.2499046325684,"y":1343.5000705718994,"wires":[["774e0bf8.4d6fd4"]]},{"id":"8cd2ce37.061ec","type":"moment","z":"e9e1b1d4.50c19","name":"","topic":"","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":"11","adjType":"hours","adjDir":"add","format":"","locale":"AEDT","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":368,"y":1181,"wires":[["cf3a518c.02ff4"]]},{"id":"cf3a518c.02ff4","type":"function","z":"e9e1b1d4.50c19","name":"Parsing Time","func":"var time = msg.payload.toString().substr(0, 19).replace(\"T\",\" \");\nmsg.payload = time;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":567.4999618530273,"y":1180.8341507911682,"wires":[["5e149741.d987c8","29d2ee43.b45822"]]},{"id":"fca39bb.1663568","type":"delay","z":"e9e1b1d4.50c19","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":311,"y":1300,"wires":[["8ba70852.b656c8"]]},{"id":"8ba70852.b656c8","type":"join","z":"e9e1b1d4.50c19","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"3","x":466,"y":1259,"wires":[["8a0441e7.f33e6","62a01fdd.6598a"]]},{"id":"8a0441e7.f33e6","type":"function","z":"e9e1b1d4.50c19","name":"JSON","func":"// \"1511753186366 2017-11-27 14:26:26 37.2\"\n\nvar time01 = msg.payload.toString().substr(0, 13);\nvar localYear = msg.payload.toString().substr(16, 2);\nvar localMon = msg.payload.toString().substr(19, 2);\nvar localD = msg.payload.toString().substr(22, 2);\nvar localH = msg.payload.toString().substr(25, 2);\nvar localMin = msg.payload.toString().substr(28, 2);\nvar localSec = msg.payload.toString().substr(31, 2);\nvar temp01 = msg.payload.toString().substr(34, 4);\n\nvar time = parseFloat(time01);\nvar local = parseFloat(localYear + localMon + localD + localH + localMin + localSec); \nvar temp = parseFloat(temp01);\n\nmsg.payload = {data:{time,local,temp}};\n// The result : \"{\"data\":{\"time\":1511777910194,\"local\":171127211830,\"temp\":35.9}}\"\n\nreturn msg;","outputs":1,"noerr":0,"x":631.4568634033203,"y":1299.3318691253662,"wires":[["74e8b262.4ee13c","a9750450.b6f5e8","b018d321.0512d"]]},{"id":"5e149741.d987c8","type":"ui_text","z":"e9e1b1d4.50c19","group":"aa9eb22e.60748","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":740.0924854278564,"y":1181.7849850654602,"wires":[]},{"id":"846bb96.9a9f848","type":"ui_button","z":"e9e1b1d4.50c19","name":"","group":"aa9eb22e.60748","order":2,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","x":1013.3352584838867,"y":1217.797682762146,"wires":[["774e0bf8.4d6fd4"]]},{"id":"74b8ef8f.34b5f","type":"comment","z":"e9e1b1d4.50c19","name":"SQLite Part","info":"","x":150,"y":1120,"wires":[]},{"id":"66e6cffd.213ca","type":"ui_template","z":"e9e1b1d4.50c19","group":"aa9eb22e.60748","name":"UI Table","order":3,"width":"6","height":"8","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>TEMP [°C]</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1458,"y":1427,"wires":[[]]},{"id":"daedf204.d9f54","type":"sqlite","z":"e9e1b1d4.50c19","mydb":"4de32637.b50b48","name":"","x":1265.9998931884766,"y":1427.5000667572021,"wires":[["66e6cffd.213ca"]]},{"id":"774e0bf8.4d6fd4","type":"sqlite","z":"e9e1b1d4.50c19","mydb":"35f7e3a9.c7b8fc","name":"","x":1306,"y":1298,"wires":[[]]},{"id":"29d2ee43.b45822","type":"delay","z":"e9e1b1d4.50c19","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":311,"y":1260,"wires":[["8ba70852.b656c8"]]},{"id":"62a01fdd.6598a","type":"debug","z":"e9e1b1d4.50c19","name":"","active":true,"console":"false","complete":"false","x":467,"y":1356,"wires":[]},{"id":"a9750450.b6f5e8","type":"debug","z":"e9e1b1d4.50c19","name":"","active":true,"console":"false","complete":"false","x":810,"y":1560,"wires":[]},{"id":"b018d321.0512d","type":"mqtt out","z":"e9e1b1d4.50c19","name":"","topic":"laptopCpuTemp","qos":"2","retain":"","broker":"a7a72e06.b62fd","x":820,"y":1500,"wires":[]},{"id":"43ac0fa0.c1ba9","type":"comment","z":"e9e1b1d4.50c19","name":"Local SQL @Laptop","info":"","x":1270,"y":1180,"wires":[]},{"id":"cd98f00d.31df8","type":"ui_group","z":"","name":"System","tab":"cb1a8317.804df","order":4,"disp":true,"width":"6"},{"id":"75b6cbd3.1a4e34","type":"ui_group","z":"","name":"Internet Speed","tab":"cb1a8317.804df","order":3,"disp":true,"width":"6"},{"id":"bc7eee22.42656","type":"ui_group","z":"","name":"CPU Temperature","tab":"cb1a8317.804df","order":1,"disp":true,"width":"6"},{"id":"d60de4d6.fcd558","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"aa9eb22e.60748","type":"ui_group","z":"","name":"SQLite DB","tab":"cb1a8317.804df","order":2,"disp":true,"width":"6"},{"id":"4de32637.b50b48","type":"sqlitedb","z":"","db":"/home/ubuntu/sqliteCpu"},{"id":"35f7e3a9.c7b8fc","type":"sqlitedb","z":"","db":"/home/ubuntu/sqliteCpu"},{"id":"a7a72e06.b62fd","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"cb1a8317.804df","type":"ui_tab","z":"","name":"My Laptop System","icon":"dashboard","order":1}]
