02_Source_Codes/01_MonitoringCPUTempAtLaptop.txt
[{"id":"45eb8a18.ef9834","type":"inject","z":"e9e1b1d4.50c19","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":240,"y":220,"wires":[["70d396fc.3d0ed8"]]},{"id":"3ad77d4d.c64f82","type":"debug","z":"e9e1b1d4.50c19","name":"","active":false,"console":"false","complete":"false","x":696.9999847412109,"y":245.9999942779541,"wires":[]},{"id":"70d396fc.3d0ed8","type":"exec","z":"e9e1b1d4.50c19","command":"shutdown -h now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo shutdown -h now","x":440,"y":220,"wires":[["3ad77d4d.c64f82"],[],[]]},{"id":"3f42d808.6da168","type":"ui_button","z":"e9e1b1d4.50c19","name":"","group":"cd98f00d.31df8","order":4,"width":0,"height":0,"passthru":false,"label":"Turn Off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":212.17069625854492,"y":177.60242795944214,"wires":[["70d396fc.3d0ed8"]]},{"id":"97dddb62.4525a8","type":"inject","z":"e9e1b1d4.50c19","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":243.49795532226562,"y":403.94610595703125,"wires":[["5f21be8a.4fe77"]]},{"id":"bad8f2d7.05fd5","type":"debug","z":"e9e1b1d4.50c19","name":"","active":false,"console":"false","complete":"false","x":614.7837524414062,"y":398.51759338378906,"wires":[]},{"id":"5f21be8a.4fe77","type":"exec","z":"e9e1b1d4.50c19","command":"reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo reboot","x":413.4979553222656,"y":403.94610595703125,"wires":[["bad8f2d7.05fd5"],[],[]]},{"id":"57d7fba.0fb5b04","type":"ui_button","z":"e9e1b1d4.50c19","name":"","group":"cd98f00d.31df8","order":5,"width":0,"height":0,"passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":215.66865158081055,"y":369.5485339164734,"wires":[["5f21be8a.4fe77"]]},{"id":"20c2ed08.524202","type":"comment","z":"e9e1b1d4.50c19","name":"System will turn off","info":"","x":189.83000946044922,"y":87.5671615600586,"wires":[]},{"id":"ff0735c9.5bb578","type":"comment","z":"e9e1b1d4.50c19","name":"System will reboot","info":"","x":191.07290649414062,"y":280.28662109375,"wires":[]},{"id":"fa2aa67e.987de8","type":"comment","z":"e9e1b1d4.50c19","name":"Ping","info":"","x":147.20680018833718,"y":526.0672302246094,"wires":[]},{"id":"f17746f4.a6c188","type":"debug","z":"e9e1b1d4.50c19","name":"","active":false,"console":"false","complete":"false","x":447.99505615234375,"y":577.4225616455078,"wires":[]},{"id":"40093c82.8d9264","type":"ui_gauge","z":"e9e1b1d4.50c19","name":"","group":"75b6cbd3.1a4e34","order":1,"width":0,"height":0,"gtype":"gage","title":"Ping","label":"ms","format":"{{value}}","min":0,"max":"0.1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":431.9950942993164,"y":664.6579179763794,"wires":[]},{"id":"2c14fa3.a911506","type":"inject","z":"e9e1b1d4.50c19","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":130,"y":952,"wires":[["14588d59.fc90a3","cf59291.44cc1d8","417e3e26.375d3"]]},{"id":"14588d59.fc90a3","type":"exec","z":"e9e1b1d4.50c19","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"measure_temp","useSpawn":"true","timer":"","oldrc":false,"name":"getCPUtemp","x":322.4602584838867,"y":951.4602583476476,"wires":[["9d7ddaa2.54aa88","56501c77.4d4ec4"],[],[]]},{"id":"9d7ddaa2.54aa88","type":"function","z":"e9e1b1d4.50c19","name":"CPU Temp Function","func":"context.global.cputemp = 0.1 * parseFloat(msg.payload.replace(\"\",\"\").replace(\"00\",\"\"));\nvar temp = 0.1 * parseFloat(msg.payload.replace(\"\",\"\").replace(\"00\",\"\"));\nmsg.payload = temp.toString().substr(0, 4);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":532.0475616455078,"y":937.7142866679601,"wires":[["7a5bf50.1aee60c","f45083f0.a4ce3","9a4cf262.ac2e1","89260457.0793f8","a32405f0.0379a8","7e6d366b.f340c8"]]},{"id":"9ce570a.dc4fd9","type":"comment","z":"e9e1b1d4.50c19","name":"Measuring CPU's Temperature For Ubuntu Server","info":"","x":289.85717010498047,"y":823.6192177363805,"wires":[]},{"id":"7a5bf50.1aee60c","type":"debug","z":"e9e1b1d4.50c19","name":"","active":false,"console":"false","complete":"false","x":745.5101356506348,"y":937.3251442909241,"wires":[]},{"id":"f45083f0.a4ce3","type":"ui_gauge","z":"e9e1b1d4.50c19","name":"","group":"bc7eee22.42656","order":1,"width":0,"height":0,"gtype":"gage","title":"My Server CPU","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":755.6548805236816,"y":983.268138885498,"wires":[]},{"id":"9a4cf262.ac2e1","type":"ui_chart","z":"e9e1b1d4.50c19","name":"","group":"bc7eee22.42656","order":2,"width":"0","height":"0","label":"My Server CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":798.6869411468506,"y":1026.9794960021973,"wires":[[],[]]},{"id":"a32405f0.0379a8","type":"file","z":"e9e1b1d4.50c19","name":"","filename":"/home/ubuntu/CPU_Temp.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":800,"y":900,"wires":[]},{"id":"56501c77.4d4ec4","type":"debug","z":"e9e1b1d4.50c19","name":"","active":false,"console":"false","complete":"false","x":514,"y":977,"wires":[]},{"id":"30e7acff.d526a4","type":"mqtt out","z":"e9e1b1d4.50c19","name":"MQTT - laptopPing","topic":"laptopPing","qos":"2","retain":"","broker":"d60de4d6.fcd558","x":475.2763843536377,"y":614.493390083313,"wires":[]},{"id":"89260457.0793f8","type":"mqtt out","z":"e9e1b1d4.50c19","name":"MQTT - laptopcputemp","topic":"laptopcputemp","qos":"2","retain":"","broker":"d60de4d6.fcd558","x":790.289623260498,"y":1070.483741760254,"wires":[]},{"id":"50754ae.9d611b4","type":"mqtt in","z":"e9e1b1d4.50c19","name":"MQTT - turnoffLaptop","topic":"turnoffLaptop","qos":"2","broker":"d60de4d6.fcd558","x":252.28619766235352,"y":125.83224678039551,"wires":[["70d396fc.3d0ed8"]]},{"id":"2c7de2ac.239efe","type":"mqtt in","z":"e9e1b1d4.50c19","name":"MQTT - rebootLaptop","topic":"rebootLaptop","qos":"2","broker":"d60de4d6.fcd558","x":260.2895050048828,"y":321.82896614074707,"wires":[["5f21be8a.4fe77"]]},{"id":"bca487ab.ddf738","type":"ping","z":"e9e1b1d4.50c19","name":"","host":"10.16.208.146","timer":"20","x":210,"y":577,"wires":[["f17746f4.a6c188","30e7acff.d526a4","40093c82.8d9264"]]},{"id":"d10d10c2.32c2b","type":"inject","z":"e9e1b1d4.50c19","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, TEMP INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1320,"y":1360,"wires":[["774e0bf8.4d6fd4"]]},{"id":"f09dab9d.22d858","type":"inject","z":"e9e1b1d4.50c19","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1347.749942779541,"y":1548.0000343322754,"wires":[["daedf204.d9f54"]]},{"id":"c80fb9b5.0b1398","type":"inject","z":"e9e1b1d4.50c19","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1342.9692611694336,"y":1504.7500801086426,"wires":[["774e0bf8.4d6fd4"]]},{"id":"7d0cf7c7.cf3c38","type":"inject","z":"e9e1b1d4.50c19","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1343.2499046325684,"y":1463.5000705718994,"wires":[["774e0bf8.4d6fd4"]]},{"id":"5e149741.d987c8","type":"ui_text","z":"e9e1b1d4.50c19","group":"aa9eb22e.60748","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":955,"y":1213,"wires":[]},{"id":"846bb96.9a9f848","type":"ui_button","z":"e9e1b1d4.50c19","name":"","group":"aa9eb22e.60748","order":2,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","x":1320,"y":1320,"wires":[["774e0bf8.4d6fd4"]]},{"id":"66e6cffd.213ca","type":"ui_template","z":"e9e1b1d4.50c19","group":"aa9eb22e.60748","name":"UI Table","order":3,"width":"6","height":"10","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>TEMP [°C]</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1766,"y":1547,"wires":[[]]},{"id":"daedf204.d9f54","type":"sqlite","z":"e9e1b1d4.50c19","mydb":"7b3fdb1e.6a7124","name":"","x":1555,"y":1547,"wires":[["66e6cffd.213ca"]]},{"id":"a9750450.b6f5e8","type":"debug","z":"e9e1b1d4.50c19","name":"","active":false,"console":"false","complete":"false","x":1335,"y":1761,"wires":[]},{"id":"b018d321.0512d","type":"mqtt out","z":"e9e1b1d4.50c19","name":"","topic":"laptopCpuTemp","qos":"2","retain":"","broker":"a7a72e06.b62fd","x":1385,"y":1702,"wires":[]},{"id":"43ac0fa0.c1ba9","type":"comment","z":"e9e1b1d4.50c19","name":"Local SQL @Ubuntu Server","info":"","x":1320,"y":1260,"wires":[]},{"id":"7eeafb0a.350064","type":"sqlite","z":"e9e1b1d4.50c19","mydb":"7b3fdb1e.6a7124","name":"","x":1578,"y":1596,"wires":[["e3ebbb42.3726c8","a2ea31e5.d16fe"]]},{"id":"c2fcfc8c.6bc35","type":"ui_text_input","z":"e9e1b1d4.50c19","name":"","label":"","group":"67111590.20d86c","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1225.8506088256836,"y":1595.6053838729858,"wires":[["799f3346.682a0c"]]},{"id":"e3ebbb42.3726c8","type":"debug","z":"e9e1b1d4.50c19","name":"","active":false,"console":"false","complete":"false","x":1810.6182708740234,"y":1638.148344039917,"wires":[]},{"id":"799f3346.682a0c","type":"function","z":"e9e1b1d4.50c19","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": msg.payload\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1377.9589157104492,"y":1595.9274368286133,"wires":[["7eeafb0a.350064"]]},{"id":"a2ea31e5.d16fe","type":"ui_template","z":"e9e1b1d4.50c19","group":"67111590.20d86c","name":"Query Answer","order":3,"width":"6","height":"9","format":"<table style=\"width:100%\">\n <tr>\n  <th>Index</th>     \n <th>ANSWER</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:500\">\n <td>{{$index + 1}}</td>\n <td>{{msg.payload[$index]}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1818.4386978149414,"y":1595.5517110824585,"wires":[["63293258.7958cc"]]},{"id":"76ffaee7.ba0de","type":"ui_template","z":"e9e1b1d4.50c19","group":"67111590.20d86c","name":"Example","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n<strong>Example :</strong>\n<p>SELECT * FROM HOME WHERE TEMP = 39.5</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1796.77197265625,"y":1683.885009765625,"wires":[[]]},{"id":"63293258.7958cc","type":"debug","z":"e9e1b1d4.50c19","name":"","active":false,"console":"false","complete":"false","x":1998,"y":1640,"wires":[]},{"id":"774e0bf8.4d6fd4","type":"sqlite","z":"e9e1b1d4.50c19","mydb":"7b3fdb1e.6a7124","name":"","x":1614,"y":1418,"wires":[[]]},{"id":"cf59291.44cc1d8","type":"moment","z":"e9e1b1d4.50c19","name":"","topic":"","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":"11","adjType":"hours","adjDir":"add","format":"","locale":"AEDT","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":345,"y":1217,"wires":[["f979fc8b.46d53"]]},{"id":"417e3e26.375d3","type":"function","z":"e9e1b1d4.50c19","name":"Timestamp Object","func":"var d = new Date();\nmsg.payload = {'timestamp': d.getTime()};\nreturn msg;","outputs":1,"noerr":0,"x":772,"y":1424,"wires":[["d2b3c23a.bec2f","eaba1b73.79a5c8"]]},{"id":"7e6d366b.f340c8","type":"function","z":"e9e1b1d4.50c19","name":"Parsing Temperature","func":"msg.payload = {'temperature':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":777,"y":1528,"wires":[["87a2dc4c.91c9b","eaba1b73.79a5c8"]]},{"id":"f979fc8b.46d53","type":"function","z":"e9e1b1d4.50c19","name":"Parsing Local","func":"msg.payload = {'local':msg.payload.toString().substr(0, 19).replace(\"T\",\" \")};\nreturn msg;","outputs":1,"noerr":0,"x":557,"y":1214,"wires":[["9ecb0ce4.8c58e","3be7741c.be297c","287492a0.dd05be"]]},{"id":"287492a0.dd05be","type":"function","z":"e9e1b1d4.50c19","name":"Parsing Object","func":"msg.payload = msg.payload.local;\nreturn msg;","outputs":1,"noerr":0,"x":769,"y":1213,"wires":[["5e149741.d987c8"]]},{"id":"3be7741c.be297c","type":"function","z":"e9e1b1d4.50c19","name":"Parsing Integer","func":"// { local: \"2017-12-09 18:30:40\" }\nvar localBuf = msg.payload.local;\n// \"2017-12-09 18:30:40\"\n\n\nvar localYear = localBuf.toString().substr(0, 4);\nvar localMon =localBuf.toString().substr(5, 2);\nvar localD = localBuf.toString().substr(8, 2);\nvar localH = localBuf.toString().substr(11, 2);\nvar localMin =localBuf.toString().substr(14, 2);\nvar localSec = localBuf.toString().substr(17, 2);\n\n\nvar local = parseFloat(localYear + localMon + localD + localH + localMin + localSec); \n\n\nmsg.payload = {'local':local};\n\nreturn msg;","outputs":1,"noerr":0,"x":777,"y":1314,"wires":[["6c3c9568.5fe05c","eaba1b73.79a5c8"]]},{"id":"9ecb0ce4.8c58e","type":"debug","z":"e9e1b1d4.50c19","name":"","active":false,"console":"false","complete":"false","x":819,"y":1161,"wires":[]},{"id":"6c3c9568.5fe05c","type":"debug","z":"e9e1b1d4.50c19","name":"","active":false,"console":"false","complete":"false","x":827,"y":1362,"wires":[]},{"id":"d2b3c23a.bec2f","type":"debug","z":"e9e1b1d4.50c19","name":"","active":false,"console":"false","complete":"false","x":827,"y":1482,"wires":[]},{"id":"87a2dc4c.91c9b","type":"debug","z":"e9e1b1d4.50c19","name":"","active":false,"console":"false","complete":"false","x":827,"y":1582,"wires":[]},{"id":"eaba1b73.79a5c8","type":"join","z":"e9e1b1d4.50c19","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","x":1027,"y":1422,"wires":[["6193cf0f.7ade6","cfa0b4d7.aa4ee8"]]},{"id":"cfa0b4d7.aa4ee8","type":"function","z":"e9e1b1d4.50c19","name":"Making Object","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\n\nmsg.payload = {'data':{time,local,temp}};\n\nreturn msg;","outputs":1,"noerr":0,"x":1137,"y":1702,"wires":[["b018d321.0512d","a9750450.b6f5e8"]]},{"id":"6193cf0f.7ade6","type":"function","z":"e9e1b1d4.50c19","name":"Insert query","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\n//var hum = msg.payload.humidity;\n//var pre = msg.payload.pressure;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + time + \", \" + local + \", \" + temp + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1230,"y":1420,"wires":[["774e0bf8.4d6fd4"]]},{"id":"cd98f00d.31df8","type":"ui_group","z":"","name":"System","tab":"cb1a8317.804df","order":5,"disp":true,"width":"6"},{"id":"75b6cbd3.1a4e34","type":"ui_group","z":"","name":"Internet Speed","tab":"cb1a8317.804df","order":4,"disp":true,"width":"6"},{"id":"bc7eee22.42656","type":"ui_group","z":"","name":"CPU Temperature","tab":"cb1a8317.804df","order":1,"disp":true,"width":"6"},{"id":"d60de4d6.fcd558","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"aa9eb22e.60748","type":"ui_group","z":"","name":"SQLite DB","tab":"cb1a8317.804df","order":2,"disp":true,"width":"6"},{"id":"7b3fdb1e.6a7124","type":"sqlitedb","z":"","db":"/home/ubuntu/sqliteCpu"},{"id":"a7a72e06.b62fd","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"67111590.20d86c","type":"ui_group","z":"","name":"Query Commander","tab":"cb1a8317.804df","order":3,"disp":true,"width":"6"},{"id":"cb1a8317.804df","type":"ui_tab","z":"","name":"My Server System","icon":"dashboard","order":1}]
