02_Source_Codes/02_MonitoringCPUTempAWS.txt
[{"id":"b8a63ed6.27a45","type":"mqtt in","z":"5b55b159.c0c9b","name":"","topic":"laptopCpuTemp","qos":"2","broker":"954cd2e.c49463","x":170.53305053710938,"y":226.82321739196777,"wires":[["d1c515ee.34b828","35c2b278.34d90e"]]},{"id":"d1c515ee.34b828","type":"debug","z":"5b55b159.c0c9b","name":"","active":true,"console":"false","complete":"false","x":322.19970703125,"y":319.78862857818604,"wires":[]},{"id":"3cf70ef2.e6d212","type":"inject","z":"5b55b159.c0c9b","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, TEMP INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":518.3515701293945,"y":183.20230960845947,"wires":[["b456437a.757f2"]]},{"id":"5b3a463e.684ea8","type":"function","z":"5b55b159.c0c9b","name":"Insert query","func":"var time = msg.payload.data.time;\nvar local = msg.payload.data.local;\nvar temp = msg.payload.data.temp;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + time + \", \" + local + \", \" + temp + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":506.71373748779297,"y":225.95238876342773,"wires":[["b456437a.757f2"]]},{"id":"43d23a87.7390b4","type":"inject","z":"5b55b159.c0c9b","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":557.1015129089355,"y":355.20234394073486,"wires":[["4f45ae2d.a040c"]]},{"id":"8991c3f.746904","type":"inject","z":"5b55b159.c0c9b","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":552.3208312988281,"y":311.95238971710205,"wires":[["b456437a.757f2"]]},{"id":"a4656abf.8439f8","type":"inject","z":"5b55b159.c0c9b","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":552.6014747619629,"y":270.7023801803589,"wires":[["b456437a.757f2"]]},{"id":"41c45c92.773174","type":"ui_button","z":"5b55b159.c0c9b","name":"","group":"b341191.6853be8","order":2,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","x":530.6868286132812,"y":144.99999237060547,"wires":[["b456437a.757f2"]]},{"id":"5caf2586.f4594c","type":"ui_template","z":"5b55b159.c0c9b","group":"b341191.6853be8","name":"UI Table","order":3,"width":"6","height":"8","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>TEMP [°C]</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":975.3515701293945,"y":354.2023096084595,"wires":[[]]},{"id":"4f45ae2d.a040c","type":"sqlite","z":"5b55b159.c0c9b","mydb":"abdea105.90db4","name":"","x":783.3514633178711,"y":354.7023763656616,"wires":[["5caf2586.f4594c"]]},{"id":"b456437a.757f2","type":"sqlite","z":"5b55b159.c0c9b","mydb":"8dedffdd.88a9b","name":"","x":823.3515701293945,"y":225.20230960845947,"wires":[[]]},{"id":"35c2b278.34d90e","type":"json","z":"5b55b159.c0c9b","name":"","pretty":false,"x":343.8627281188965,"y":227.08407974243164,"wires":[["5b3a463e.684ea8","68a45778.712918","d544ebe6.5ba538"]]},{"id":"68a45778.712918","type":"function","z":"5b55b159.c0c9b","name":"Filtering the Temp","func":"// \"{\"data\":{\"time\":1511776528946,\"local\":171127205528,\"temp\":35.9}}\"\n\nvar temp = msg.payload.data.temp;\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":553.8614985148112,"y":423.2778873443603,"wires":[["b6316392.d05f1","9b8c4237.c2a12"]]},{"id":"b6316392.d05f1","type":"ui_gauge","z":"5b55b159.c0c9b","name":"","group":"a4a3d69d.943ce8","order":1,"width":0,"height":0,"gtype":"gage","title":"My Laptop CPU","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":771.0182571411133,"y":423.3552494049072,"wires":[]},{"id":"9b8c4237.c2a12","type":"ui_chart","z":"5b55b159.c0c9b","name":"","group":"a4a3d69d.943ce8","order":2,"width":"0","height":"0","label":"My Laptop CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":814.0503177642822,"y":467.06660652160645,"wires":[[],[]]},{"id":"d544ebe6.5ba538","type":"function","z":"5b55b159.c0c9b","name":"Filtering the Date","func":"// \"{\"data\":{\"time\":1511776528946,\"local\":171127205528,\"temp\":35.9}}\"\n// msg.payload = temp.toString().substr(0, 4);\n\nvar local = msg.payload.data.local;\nvar localYear01 = local.toString().substr(0, 2);\nvar localYear = \"20\" + localYear01;\nvar localMonth = local.toString().substr(2, 2);\nvar localDay = local.toString().substr(4, 2);\nvar localHour = local.toString().substr(6, 2);\nvar localMinute = local.toString().substr(8, 2);\nvar localSec = local.toString().substr(10, 2);\n\nmsg.payload = localYear + \"-\" + localMonth + \"-\" + localDay + \" \" + localHour + \":\" + localMinute + \":\" + localSec;\n//The result:  20117-11-27 20:55:28\n\nreturn msg;","outputs":1,"noerr":0,"x":553.3515701293945,"y":530.0219058990479,"wires":[["44860012.e4f52"]]},{"id":"44860012.e4f52","type":"ui_text","z":"5b55b159.c0c9b","group":"b341191.6853be8","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":726.6848831176758,"y":529.3552188873291,"wires":[]},{"id":"7d87f9be.6b0788","type":"comment","z":"5b55b159.c0c9b","name":"Cloud SQL @AWS","info":"","x":860.5379543304443,"y":142.2478151321411,"wires":[]},{"id":"c0ee3d12.08e39","type":"ui_button","z":"5b55b159.c0c9b","name":"","group":"a3cc7886.8d3a38","order":4,"width":0,"height":0,"passthru":false,"label":"Turn Off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":210.01824951171875,"y":701.6885375976562,"wires":[["c10d58ea.854ff8"]]},{"id":"ee87a1e7.ae569","type":"ui_button","z":"5b55b159.c0c9b","name":"","group":"a3cc7886.8d3a38","order":5,"width":0,"height":0,"passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":206.8495330810547,"y":791.9680042266846,"wires":[["f5e39b0d.bdf5f8"]]},{"id":"c10d58ea.854ff8","type":"mqtt out","z":"5b55b159.c0c9b","name":"","topic":"turnoffLaptop","qos":"2","retain":"","broker":"954cd2e.c49463","x":393.8694496154785,"y":702.5640487670898,"wires":[]},{"id":"f5e39b0d.bdf5f8","type":"mqtt out","z":"5b55b159.c0c9b","name":"","topic":"rebootLaptop","qos":"2","retain":"","broker":"954cd2e.c49463","x":397.19910430908203,"y":790.8985414505005,"wires":[]},{"id":"8e32f786.f72eb8","type":"comment","z":"5b55b159.c0c9b","name":"System Trun Off & Reboot","info":"","x":222.19604492187497,"y":639.3464152018229,"wires":[]},{"id":"a7a58b71.ab7588","type":"ui_gauge","z":"5b55b159.c0c9b","name":"","group":"9c79fbf0.b01d28","order":1,"width":0,"height":0,"gtype":"gage","title":"Ping","label":"ms","format":"{{value}}","min":0,"max":"0.1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":445.01819610595703,"y":920.0218276977539,"wires":[]},{"id":"7787c113.9b926","type":"mqtt in","z":"5b55b159.c0c9b","name":"MQTT - laptopPing","topic":"laptopPing","qos":"2","broker":"538f8f38.aa2cf","x":227.20212300618488,"y":921.3274637858071,"wires":[["a7a58b71.ab7588"]]},{"id":"76a578a9.19ad78","type":"comment","z":"5b55b159.c0c9b","name":"Monitor Ping","info":"","x":160.54034423828125,"y":866.0441837310791,"wires":[]},{"id":"954cd2e.c49463","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b341191.6853be8","type":"ui_group","z":"","name":"SQLite DB","tab":"3ea2a955.bb40c6","order":2,"disp":true,"width":"6"},{"id":"abdea105.90db4","type":"sqlitedb","z":"","db":"/home/ubuntu/sqliteCpu"},{"id":"8dedffdd.88a9b","type":"sqlitedb","z":"","db":"/home/ubuntu/sqliteCpu"},{"id":"a4a3d69d.943ce8","type":"ui_group","z":"","name":"Laptop CPU Temperature","tab":"3ea2a955.bb40c6","order":1,"disp":true,"width":"6"},{"id":"a3cc7886.8d3a38","type":"ui_group","z":"","name":"System","tab":"3ea2a955.bb40c6","order":3,"disp":true,"width":"6"},{"id":"9c79fbf0.b01d28","type":"ui_group","z":"","name":"Internet Speed","tab":"3ea2a955.bb40c6","order":4,"disp":true,"width":"6"},{"id":"538f8f38.aa2cf","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3ea2a955.bb40c6","type":"ui_tab","z":"","name":"My Laptop System","icon":"dashboard","order":1}]
